/* Reiniciar márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegura que el cuerpo y el html ocupen toda la pantalla */
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Clase para la imagen de fondo */
.fondo {
    background-image: url('assets/fondo.png'); /* Ruta a la imagen en la carpeta 'assets' */
    background-size: cover;                /* Hace que la imagen cubra toda la pantalla */
    background-position: center;           /* Centra la imagen */
    background-repeat: no-repeat;          /* Evita que la imagen se repita */
    width: 100%;
    height: 100vh;                         /* Hace que la altura sea igual a la ventana de visualización */
}

/* Consultas de medios para dispositivos móviles */
@media (max-width: 768px) {
    .fondo {
        background-image: url('assets/fondo.png'); /* Cambia la imagen de fondo para móviles */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }

    /* Estilos adicionales para móviles */
    body {
        overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
    }
}
